@font-face {
	font-family: 'Gilroy-Black';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Regular';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}