#offLabel {
    -fx-text-fill: "#8d8989";
    -fx-font-size: 15px;
    -fx-font-family: "Helvetica";
}

#onLabel,#onLabelIn,#onLabelOut {
    -fx-font-family: 'Helvetica Rounded';
    -fx-font-size: 14px;
}
.radio-button  {
    -fx-font-family: 'Helvetica Rounded';
    -fx-font-size: 14px;

}
