
#customList {
    -fx-font-size: 14px;
    -fx-background-color: rgba(250, 250, 250, 0.7);
    -fx-font-family: 'Gilroy-Bold';
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
#listViewHolder{

    -fx-font-size: 14px;
    -fx-font-family: 'Gilroy-Bold';
    -fx-border-color: transparent;
    -fx-background-radius: 10;
 }
#search-helper-list {
    -fx-font-size: 14px;
    -fx-font-family: 'Gilroy-Bold';
    -fx-border-color: transparent;
    -fx-background-radius: 10;
}


#search {
    -fx-font-size: 14px;
    -fx-font-family: 'Gilroy-Bold';
    -fx-background-color: #fafafa;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.12, -1.0, 2.0);
}
#search1 {
    -fx-font-size: 14px;
    -fx-font-family: 'Gilroy-Bold';
    -fx-background-color: #fafafa;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#customList .list-cell {
    -fx-padding: 1.5;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
#search-helper-list .list-cell{
    -fx-padding: 1.5;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

#customList .list-cell .hbox .label {
    -fx-text-fill: black;
    -fx-alignment: center;
}
#search-helper-list .list-cell .hbox .label {
    -fx-text-fill: black;
    -fx-alignment: center;
}
#customList .list-cell{
    -fx-alignment: center;
}
#customList .list-cell .hbox {
    -fx-background-radius: 10;
    -fx-padding: 10;
}
#search-helper-list .list-cell .hbox {
    -fx-background-radius: 10;
    -fx-padding: 10;
}

#heading {
    -fx-font-size: 14px;
    -fx-font-family: 'Gilroy-Bold';
    -fx-background-color: #1C75BC;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

#heading .label {
    -fx-alignment: center;
    -fx-text-fill: #fafafa;
}

#customList .list-cell .hbox:hover {
    -fx-background-color: #1C75BC20;
}
#search-helper-list .list-cell .hbox:hover {
    -fx-background-color: #1C75BC20;
}
.combo-box-base
{
    -fx-background-color: transparent;
}