
.table-view .table-cell{
    -fx-alignment: CENTER;
}
.table-view .column-header .label{
    -fx-alignment: CENTER;
}

.table-view .table-row-cell{

}
#heading{
    -fx-font-size: 25px;
    -fx-font-family: 'Helvetica Rounded';
}

